body {
  font-size: :14px;
  line-height: :1.618rem;
  color: #535454;
  background-color: #efefef;
}

/* sets the text color and base height and size*/
p {
  color: #535454;
}

/*anything under the p tag colr*/
li {
  float: left;
  color: #535454;
  display: inline-block;
}

.timeline-nav li{
  display: block;
  float: none;
}

.timeline-nav li span{
  padding: 0 1em;
}

.timeline-nav li.active span{
  color:#dd1e25;
}

.timeline-nav li span:hover{
  color: #dd1e25;
  background-color:#ffffff;
  padding: 0 1em;
  cursor: pointer;
}

.timeline-nav{
  position:fixed;
  transition: top .3s ease-out;
}

a.white-text {
  color: #ffffff;
}

a.white-text:hover {
  color: #e7e7e7;
}

.text-shadow {
  text-shadow: 1px 1px 1px #000;
}

.off-white-text {
  color: #e7e7e7;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.footer-logos a:hover {
  border-bottom: none;
}

.footer-logos {
  position: relative;
  z-index: 10;
}

.flex-item-bottom {
  align-self: flex-end;
}

.footer-social-icons {
  font-size: 2.5em;
  position: relative;
  z-index: 10;
  align-items: center;
  margin-bottom: 1.5em;
}

.fade-50 {
  opacity: 0.5;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/*base padding for container fluid calss*/
.row {
  margin: 0 auto;
}

.fullscreen {
  padding: 0 !important;
  margin: 0 !important;
}

.nav li a {
  display: block;
  color: #535454;
  padding: 0.95em 1.1em;
  text-decoration: none;
}

.nav li a:hover {
  color: #dd1e25;
  margin-bottom: 0;
  border-bottom: 1px dashed #dd1e25;
  text-decoration: none;
  background-color: #e5e5e7;
}

.nav li a.active {
  color: #1c2f55
}

.navbar-nav>li>a {
  border-top: 4px solid transparent;
  border-bottom: none;
}

.navbar-nav>li>a:hover {
  border-top: 4px solid #dd1e25;
  border-bottom: none;
}

.fit-menu {
  float: right;
  display: inline-block;
  height: inherit;
}

.action-menu {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  height: 3.1em;
  width: 100%;
  position: absolute;
  top: 3.1em;
  z-index: 103;
}

.overlay-menu .action-menu .cust-portal {
  display: none;
}

.overlay-menu .action-menu {
  z-index: 1030;
  background-color: transparent;
}

.noscroll .action-menu {
  position: fixed;
  top: 3.1em;
}

.block-menu.action-menu {
  width: 10%;
  background: none;
  margin-left: 1.25em;
  padding: 0;
  float: left;
}

.block-menu.action-menu a {
  border-bottom: none;
  color: #ffffff;
  padding: 0.7em 0 0 0;
}

.block-menu.action-menu a:hover {
  border-bottom: 1px solid #ffffff;
  background: none;
  color: #ffffff;
}

a {
  color: #dd1e25;
}

a:hover {
  color: #dd1e25;
}

p a[target="_blank"]:after {
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  font-weight: 900;
  display: none;
}

.white-text {
  color: #ffffff;
}

.lead {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Arial", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", sans-serif;
  font-weight: 300;
  color: #002A5B;
}

.flexslider .slides>li:first-child {
  display: block;
  -webkit-backface-visibility: visible;
}

.flex-header h1 {
  color: #ffffff;
  text-align: left;
}

.flex-caption {
  padding-left: 1em;
  color: #ffffff;
  width: 60%;
  bottom: 0.5em;
  position: absolute;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-deep {
  padding-bottom: 3em;
  padding-top: 2.5em;
}

.row-deeper {
  padding-bottom: 6em;
  padding-top: 5em;
}

.front__flex-margin {
  margin: -4.3em 0 0 0;
  position: relative;
}

.fit-menu {
  height: inherit;
}

.lang-switch .chosen-container-single .chosen-single {
  padding: 6px 12px;
  height: 34px;
  background: #888c8f;
  color: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border: 1px solid #ccc;
  line-height: initial;
}

.lang-switch .chosen-container {
  width: -webkit-fill-available !important;
}

.shadow-back {
  margin: -4.1em 0 0 0;
  height: 3.25em;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

.textlogo {
  background: #ffffff;
  position: fixed;
  width: 10.75em !important;
  height: auto;
  border-bottom: none;
  z-index: 1031;
  top: -0.1em;
}

.prod-selector {
  display: none;
}

.ind-selector {
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.carousel {
  margin-top: 1em;
}

.action-menu {
  color: #ffffff;
  width: 100%;
  float: right;
}

.dropdown-up {
  height: 3.25em;
  transition: 0.38s all ease-in-out;
}

.dropdown-down {
  height: 100%;
  transition: 0.38s all ease-in-out;
}

.action-menu {
  position: absolute;
  z-index: 103;
  bottom: 0;
}

.cust-portal {
  float: right;
  margin-right: 0.6em;
  padding-top: 0.8em;
  height: 100%;
}

.cust-portal a {
  border-bottom: none;
  color: #ffffff;
}

.cust-portal a:hover {
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
}

.cust-portal-text {
  vertical-align: bottom;
  font-size: 1.5em;
}

.search-block {
  margin: 0 0 0 9.25em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  width: 25em;
}

.search-block .input-group-btn {
  font-size: inherit;
}

.search-block .views-exposed-widgets {
  display: flex;
}

.views-exposed-widgets {
  display: flex;
  justify-content: center;
  padding-bottom: 0.75em;
}

.search-block .views-exposed-form .views-exposed-widget {
  padding: 0.25em 1em 0 0;
}

.views-search-block .form-control {
 background-color: #000000;
 color: #ffffff;
}

.search-block .views-exposed-form .views-exposed-widget .btn {
  margin-top: 0;
}

.search-block .btn, .views-search-block .btn {
  border-radius: 30px;
}

.views-search-block {
  padding-top: 0.2em;
}

.search-block .btn {
  margin: 0;
  display: inline;
  border-radius: 30px;
  padding: 6px 16px;
  height: 34px;
  font-size: inherit;
  line-height: 5px;
  background-image: none;
  background-color: #DD1E25;
  border-color: #DD1E25;
  bottom: 1px;
  position: relative;
  color: #ffffff;
  left: 0.3em
}

.search-button input[type="submit"] {
  font-family: FontAwesome;
  color: #fff !important;
  display: inline;
  font-size: 18px;
}

.search-block .btn:hover, .search-block .btn:focus {
  background-color: #fa010a;
  outline: none;
  color: #ffffff;
}

.form-control {
  font-size: inherit;
}

.flex-down {
  margin: -4.3em 0 0 0;
  position: relative;
}

.flexslider {
  margin: 0 0 0 0;
  border: none;
  z-index: 0;
}

.textonlylogo {
  background: #ffffff;
  z-index: 8;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  height: auto;
  top: -3em;
}

.wavelogo {
  height: 10em;
  background: #ffffff;
  position: absolute;
  border-bottom-right-radius: 4%;
  z-index: 1032;
  width: 11.7em;
  opacity: 1;
}

.uppercurve {
  height: 7.35em;
  left: 11em;
  z-index: 1032;
  position: relative;
  top: 2.95em;
}

.navigation {
  float: none;
  margin: 0 auto;
  width: 100%;
}

.navigation a {
  border-bottom: none;
}

.navigation a:hover {
  color: #dd1e25;
  text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation a.icon {
  display: none;
}

.navbar-header a {
  border-bottom: none;
}

/*navigation bar links when clicked on or hovered over*/
.navbar-nav {
  float: none;
  margin-bottom: 0;
  margin-top: 0;
  background: #ffffff;
  border-bottom: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #dd1e25;
  width: 0%;
}

.dark-grey-gradient {
  background-image: -moz-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 42%, #a6aaad 100%);
  background-image: -webkit-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 42%, #a6aaad 100%);
  background-image: linear-gradient(135deg, #8d8e8f 0%, #5c5f60 42%, #a6aaad 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d8e8f', endColorstr='#a6aaad', GradientType=1);
  width: 100%;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: top center;
}

.page-header {
  padding: 0;
  margin: 0;
  color: #ffffff;
  border-bottom: none;
}

.breadcrumb-sitemap {
  display: inline-block;
  list-style: none;
}

.breadcrumb-wrap {
  padding: 0.3em 0.3em 0.3em 0;
  background: transparent;
  margin-bottom: 0;
}

.breadcrumb {
  display: inline;
  background: transparent;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}

.breadcrumb>li a {
  display: inline-block;
  color: #667f9c;
  padding-right: 9px;
  padding-left: 9px;
  border-bottom: none;
}

.breadcrumb>li a:hover {
  display: inline-block;
  color: #ffffff;
  border-bottom: none;
}

.breadcrumb>li a {
  transform: skew(25deg);
}

.breadcrumb>li {
  display: inline-block;
  color: #667f9c;
  background-color: #004a8c;
  transform: skew(-25deg);
  margin: 0.3em 0 0 0.4em;
  word-break: break-word;
  overflow-wrap: break-word;
}

.breadcrumb>li+li:before {
  padding: 0;
  color: #4c698c;
  content: " ";
  transform: skew(0);
}

.breadcrumb-sitemap li {
  margin-top: 0.3em;
}

.breadcrumb-sitemap li a {
  color: #667f9c;
  border-bottom: none;
  margin-left: 0.4em;
}

.breadcrumb-sitemap li a:hover {
  color: #ffffff;
  border-bottom: none;
}

.flex-header {
  color: #ffffff;
  text-align: left;
  border-bottom: none;
}

.flex-caption {
  margin-top: 0.2em;
  position: relative;
  bottom: unset;
  width: auto;
  padding-left: 0;
}

.flex-gradient {
  overflow: initial;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #004a8c;
  background-image: -moz-linear-gradient(-45deg, #002a5b 0%, #193f6b 41%, #002A5B 100%);
  background-image: -webkit-linear-gradient(-45deg, #002a5b 0%, #193f6b 41%, #002A5B 100%);
  background-image: linear-gradient(135deg, #002A5B 0%, #193f6b 41%, #002A5B 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002a5b', endColorstr='#004a8c', GradientType=1);
  background-attachment: fixed;
  padding-top: 6em;
  padding-bottom: 5em;
}

.curve-down {
  width: 8em;
  height: 6.185em;
  right: 6.5em;
  position: relative;
  bottom: -0.17em;
  margin-top: -7.9em;
  z-index: 10;
  filter: invert(0%) sepia(0%) saturate(1198%) hue-rotate(34deg) brightness(115%) contrast(87%);
}

.iceberg-footer-banner {
  margin-bottom: -2.5em;
  display: inline-block;
  z-index: 10;
}

.socialmedia {
  width: 100%;
  height: 7.575em;
  background: #efefef;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.socialmedia ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  right: 1em;
}

.socialmedia li a {
  border-bottom: none;
}

.socialmedia ul li:nth-child(1) a {
  color: #1da1f2;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(1) a:hover {
  color: #1a90d9;
}

.socialmedia ul li:nth-child(2) a {
  color: #0077b5;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(2) a:hover {
  color: #006ba2;
}

.socialmedia ul li:nth-child(3) a {
  color: #d34836;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(3) a:hover {
  color: #bd4030;
}

.socialmedia ul li:nth-child(4) a {
  color: #d34836;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(4) a:hover {
  color: #bd4030;
}

.socialmedia ul li:nth-child(5) a {
  color: #002a5b;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(5) a:hover {
  color: #004a8c;
}

.socialmedia ul li:nth-child(6) a {
  color: #d34836;
  margin-right: 0.4em;
  font-size: 2.5em;
}

.socialmedia ul li:nth-child(6) a:hover {
  color: #bd4030;
}

.social-id {
  position: absolute;
  top: 4.8em;
  z-index: 2;
  width: 100%;
}

.fade_text {
  color: #535354;
  display: none;
}

.social-id p:nth-child(1) {
  right: 28%;
  position: absolute;
}

.social-id p:nth-child(2) {
  left: 18%;
  position: absolute;
}

.darkgrey-background {
  background: #888C8F;
  color: #FFFFFF;
  padding: 1em 0.5em 1em 0.5em;
}

.midgrey-background {
  background: #B5B6B9;
  color: #FFFFFF;
  padding: 1em 0.5em 1em 0.5em;
}

.blue-background {
  background: #002A5B;
  color: #FFFFFF;
  padding: 1em 0.5em 1em 0.5em;
}

.betterworld-green-background {
  background: #4bb485;
  color: #FFFFFF;
  padding: 1em 0.5em 1em 0.5em;
}

.footer-social-icons a {
  padding-left: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0.5em;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding-top {
  padding-top: 1em;
}

.padding-left {
  padding-left: 1em;
}

.padding-right {
  padding-right: 1em;
}

.padding-05em {
  padding: 0.5em;
}

.padding-top-05em {
  padding-top: 0.5em;
}

.padding-left-05em {
  padding-left: 0.5em;
}

.padding-right-05em {
  padding-right: 0.5em;
}

.padding-bottom-05em {
  padding-bottom: 0.5em;
}

.padding-1em {
  padding: 1em;
}

.padding-2em {
  padding: 2em;
}

.padding-top-2em {
  padding-top: 2em;
}

.padding-bottom-2em {
  padding-bottom: 2em;
}

.padding-left-2em {
  padding-left: 2em;
}

.padding-right-2em {
  padding-right: 2em;
}

.margin-top-2em {
  margin-top: 2em;
}

.margin-bottom-2em {
  margin-bottom: 2em;
}

.margin-right-2em {
  margin-right: 2em;
}

.margin-left-2em {
  margin-left: 2em;
}

.padding-3em {
  padding: 3em;
}

.padding-top-3em {
  padding-top: 3em;
}

.padding-bottom-3em {
  padding-bottom: 3em;
}

.padding-left-3em {
  padding-left: 3em;
}

.padding-right-3em {
  padding-right: 3em;
}

.margin-top-3em {
  margin-top: 3em;
}

.margin-bottom-3em {
  margin-bottom: 3em;
}

.margin-right-3em {
  margin-right: 3em;
}

.margin-left-3em {
  margin-left: 3em;
}

.padding-5em {
  padding: 5em;
}

.padding-top-5em {
  padding-top: 5em;
}

.padding-bottom-5em {
  padding-bottom: 5em;
}

.padding-left-5em {
  padding-left: 5em;
}

.padding-right-5em {
  padding-right: 5em;
}

.margin-top-5em {
  margin-top: 5em;
}

.margin-bottom-5em {
  margin-bottom: 5em;
}

.margin-right-5em {
  margin-right: 5em;
}

.margin-left-5em {
  margin-left: 5em;
}

.margin-5em {
  margin: 5em;
}

.margin-top {
  margin-top: 1em;
}

.margin-left {
  margin-left: 1em;
}

.margin-right {
  margin-right: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-05em {
  margin: 0.5em;
}

.margin-top-05em {
  margin-top: 0.5em;
}

.margin-left-05em {
  margin-left: 0.5em;
}

.margin-right-05em {
  margin-right: 0.5em;
}

.margin-bottom-05em {
  margin-bottom: 0.5em;
}

.margin-1em {
  margin: 1em;
}

.margin-2em {
  margin: 2em;
}

.margin-3em {
  margin: 3em;
}

.padding-top-2em {
  padding-top: 2em;
}

.padding-bottom-2em {
  padding-bottom: 2em;
}

.img-75{
  max-width: 75%;
}

.no-padding {
  padding: 0;
}

.float-right {
  float: right;
}

.image-highlight {
  text-align: center;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: color .5s;
  background-color: #fcfcfc;
  background: -moz-linear-gradient(top, #FCFCFC 0, #FCFCFC 70%, #e5e5e7 100%);
  background: -webkit-linear-gradient(top, #FCFCFC 0, #FCFCFC 70%, #e5e5e7 100%);
  background: linear-gradient(to bottom, #FCFCFC 0, #FCFCFC 70%, #e5e5e7 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 0;
}

.image-highlight:hover {
  background: -moz-linear-gradient(top, #fff 0, #fff 70%, #fff 100%);
  background: -webkit-linear-gradient(top, #fff 0, #fff 70%, #fff 100%);
  background: linear-gradient(to bottom, #fff 0, #fff 70%, #fff 100%);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22)
}

.footer-curve {
  width: 100%;
  right: -1.2em;
  position: relative;
  bottom: 0;
  margin-top: -7.2em;
}

.footer {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  border-top: none;
}

.next-icon {
  color: #ffffff;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  background-color: #dd1e25;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1032;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 2px 24px;
  cursor: pointer;
}

.prev-icon {
  color: #ffffff;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  background-color: #dd1e25;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1032;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 2px 24px;
  cursor: pointer;
}

.blue-top-iceberg-background{
  background-image: linear-gradient(to bottom, #002a5b, #002a5b 50%, #ffffff 50%);
  color: #535454;
}

.blue-bottom-iceberg-background{
  background-image: linear-gradient(to bottom, transparent, transparent 50%, #002a5b 50%);
  color: #ffffff;
}

.blue-bottom-iceberg-background p{
  color: #ffffff;
}

.info-graphic {
  position: relative;
  z-index: 5;
}

.clean-air-gradient::before {
  display: block;
  content: " ";
  position: absolute;
  top: -12%;
  left: 0;
  height: 26%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(105,119,119,0.5) 21%, rgba(105,119,119,1) 45.5%, rgba(105,119,119,0.5) 65%, transparent 100%);
  pointer-events: none;
}

.clean-air-gradient {
  background-image: url('https://www.aesseal.com/sites/aesseal.com/files/article/investment-pledge-on-the-eve-of-Climate-Conference.jpg');
  background-size: 100%;
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: #002A5B;
}

.clean-air-gradient p {
  color: #ffffff;
}

.factory-future-gradient::before {
  display: block;
  content: " ";
  position: absolute;
  top: -13%;
  left: 0;
  height: 23.5%;
  width: 100%;
  background: rgb(0,42,91);
  background: linear-gradient(to bottom, transparent 50%, #002a5b 50%, rgba(0, 42, 91, 0.65) 65%, rgba(0, 42, 91, 0.35) 76%, transparent 100%);
  pointer-events: none;
}

.factory-future-gradient {
  background-image: url('https://www.aesseal.com/sites/aesseal.com/files/article/SolarPanels_1398484271-1260x702.jpg');
  background-size: 100%;
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: #031e0d;
}

.dark-green-background {
  background-color: #031e0d;
  color: #ffffff;
  padding: 1em 0.5em 1em 0.5em
}

.factory-future-gradient p {
  color: #ffffff;
}

.social-community-gradient::before {
  display: block;
  content: " ";
  position: absolute;
  top: -13%;
  left: 0;
  height: 26%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 50%, #031e0d 50%, rgba(5, 53, 23, 0.65) 69%, transparent 100%);
  pointer-events: none;
}

.social-community-gradient {
  background-image: url('https://betterworld.solutions/assets/img/jacob-tabo-miV3P-vvBog-unsplash.jpg');
  background-size: 100%;
  color: #ffffff;
  background-repeat: no-repeat;
  background-color: #888C8F;
}

.social-community-gradient p {
  color: #ffffff;
}

.news-panel {
  width: 94%;
  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
}

.news-heading {
  width: 100%;
}

.news-body {
  padding: 1em;
  margin-bottom: 0;
  word-wrap: break-word;
  color: #535454;
}

.news-body p {
  color: #535454;
}

.news-body>p+p {
  margin-top: 5px;
}

.news-footer {
  padding: 10px 15px;
  background-color: #f4f4f4;
  align-self: flex-end;
  width: 100%;
  color: #535354;
}

.news-footer p {
  color: #535454
}

.news-footer i {
  padding-right: 0.5em;
  vertical-align: middle;
}

.news-footer>a {
  cursor: pointer;
  text-decoration: none;
}

.news-footer .icon {
  font-size: 20px;
  line-height: 20px;
  margin-right: 6px;
}

.news-footer .icon:last-child {
  margin-right: 0;
}

.img-adaptive {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner .item.active {
  display: flex;
}

.carousel-inner.horizontal>.item {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  }

.carousel-inner.horizontal>.item.next,
.carousel-inner.horizontal>.item.active.right {
  -webkit-transform: translate3d(33%, 0, 0);
  transform: translate3d(33%, 0, 0);
  left: 0;
  display: flex;
}

.carousel-inner.horizontal>.item.prev,
.carousel-inner.horizontal>.item.active.left {
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
  right: 0;
  display: flex;
}

.carousel-inner.horizontal>.item.next.left,
.carousel-inner.horizontal>.item.prev.right,
.carousel-inner.horizontal>.item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
  display: flex;
}

.next-arrow, .prev-arrow {
  color: #5cabdf;
  text-shadow: 0 0 3px #ffffff;
}

.carousel-controls .carousel-control {
  color: rgba(0,0,0,0.3);
  border: 1px solid #e5e5e7;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%),0 4px 8px 0 rgb(0 0 0 / 30%);
  opacity: 0.7;
  background-color: #ffffff;
  background-image: none;
  width: 3em;
  height: 3em;
  top: 50%;
  z-index: 3;
}

.carousel-controls .carousel-control:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.carousel-control.left {
  margin: 0 -1.2em
}

.btn-default {
  border: 1px solid transparent;
  color: #535354;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  border-radius: 30px
}


.btn-midgrey {
  border: 1px solid #e5e5e7;
  background: #ffffff;
  background-color: #e5e5e5;
  color: #535354;
  border-radius: 30px;
  white-space: normal;
}

.btn-midgrey:hover, .btn-midgrey:focus {
  border: 1px solid #e5e5e7;
  background: #d7d7d7;
  color: #535354;
  white-space: normal;
}

.btn-primary {
  list-style-type: none;
  display: inline-block;
  background: #dd1e25;
  color: #ffffff !important;
  border-radius: 30px;
  border: 2px solid transparent !important;
  box-shadow: none;
}

.btn-primary a {
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus {
  background: #ad1c1c;
  margin-bottom: 0;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
}

a.btn-default {
    border: none;
    color: #535354
}

a.btn-default:hover {
    border: none;
}

.btn-default:hover,.btn-default:focus {
    border: 2px solid #e5e5e7;
    background: #e5e5e7;
    color: #535354;
    white-space: normal;
}

.vid-tab img:hover {
  cursor: pointer;
}

.overlay-btn {
  float: right;
  margin-right: 1.5em;
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  color: #535454;
  padding: 0.7em 1.1em;
  text-decoration: none;
  z-index: 1036;
  border-top: 4px solid transparent;
  border-bottom: none;
  cursor: pointer;
}

.footer-overlay-btn {
  color: #ffffff;
  cursor: pointer;
  border-bottom: 1px dashed #888c8f;
}

.overlay-btn:hover, .overlay-btn:focus {
  border-top: 4px solid #dd1e25;
  border-bottom: none;
  color: #333;
  text-decoration: none;
}

.overlay-btn:focus {
  border-bottom: none;
  color: #535454;
  text-decoration: none;
}

ul.resource-cats, ul.product-cats, ul.about-us-cats {
  background: none;
  overflow: visible;
}

.overlay-content {
  background-color: none;
  position: static;
}

.overlay-main {
  height: 0%;
  background-color: rgba(0, 0, 0, .85);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  transition: 0.5s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -1;
}

.nav .overlay-main li a{
  padding: 0;
}

.display-none {
  display: none;
}

.overlay-main a:hover {
  transform: scale(1.1);
  overflow: visible;
  color: #dd1e25;
}

.overlay-menu {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.change {
  color: transparent;
  pointer-events: none;
}

.overlay-menu .action-menu .cust-portal {
  display: none;
}

.change:hover, .change:focus {
  color: transparent;
  border-bottom: none;
  pointer-events: none;
  cursor: pointer;
}

.overlay-menu .action-menu {
  z-index: 1030;
  background-color: transparent;
}

.full-menu {
  width: 100%;
}

ul.resource-cats a, ul.about-us-cats a {
  font-size: 1em;
  text-align: left;
}

.overlay-content ul li {
  float: none;
  display: block;
}

.overlay-content h4 {
  color: #ffffff;
}

.overlay-main.active {
  height: 100%;
}

.overlay-main a:hover {
  transform: scale(1.1);
  overflow: visible;
  color: #dd1e25;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: left;
  height: 60vh;
}

.sitemap-icon {
  position: absolute;
  bottom: 0%;
  right: 4%;
}

.overlay-search {
  position: relative;
  z-index: 101;
  width: 65%;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.noscroll {
  overflow: hidden;
}

.noscroll .action-menu {
  position: fixed;
  top: 3em;
}

.overlay-main a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 2em;
  line-height: 1.3em;
}

.change:after {
  display: inline-block;
  content: "\00d7";
  color: #ffffff;
  position: fixed;
  font-size: 3em;
  float: right;
  z-index: 1032;
  top: 2.5em;
  right: 1em;
  height: 1em;
  width: 1em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: auto;
  cursor: pointer;
}

.change:hover:after {
  color: #dd1e25;
}

.position-rel {
  position: relative;
}

.center-play {
  color: #002a5b;
  text-shadow:  0 0 3px #ffffff;
  position: absolute;
  top: 40%;
  left: 47%;
  border-bottom: none;
}

.center-play:hover {
  color: #004a8c;
}

.vid-thumb:hover + .center-play {
  color: #004a8c;
}

.inline {
  display: inline;
}

@media screen and (max-width: 767px) {
  .banner-title {
    font-size: 42px;
    line-height: 67px;
  }

  .front__flex-margin {
    margin: 2em 0 0 0;
  }

  .textlogo {
    top: 0.3em;
    width: 9.75em !important;
  }

  .navbar-toggle {
    padding: 5px 10px;
  }

  .socialmedia {
    background-color: transparent;
    position: initial;
    right: 0;
    width: 100%;
    bottom: inherit;
  }

  .slide-caption {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 10px;
  }

  h1 {
    font-size: 30px;
    line-height: 49px;
  }

  h2 {
    font-size: 25px;
    line-height: 40px;
  }

  h3 {
    font-size: 22px;
    line-height: 36px;
  }

  h4 {
    font-size: 19px;
    line-height: 31px;
  }

  h5 {
    font-size: 18px;
    line-height: 29px;
  }

  h6 {
    font-size: 18px;
    line-height: 29px;
  }

  .lead {
    font-size: 18px;
    line-height: 29px;
  }

  body, .hs-richtext {
    font-size: 15px;
    line-height: 24px;
  }

  .btn {
    font-size: 15px;
    line-height: 24px;
  }

  .action-menu {
    height: 4em;
  }

  .action-menu {
    top: 3.1em
  }

  .cust-portal {
    display: none;
  }

  .search-block.views-search-block .form-item {
    width: 80%;
    float: right;
  }

  .block-menu.action-menu {
    display: none;
  }

  .navigation a {
    display: none;
  }

  .navigation a.icon {
    float: right;
    display: block;
    padding-top: 0.35em;
    margin-right: 0.5em;
  }

  .navigation.responsive {
    position: relative;
  }

  .navigation.responsive a.icon {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }

  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .socialmedia ul li {
    width: 18%;
    text-align: center;
    transform: translate(25%);
  }

  .socialmedia ul {
    margin-top: 0.5em
  }

  .social-id p:nth-child(1) {
    right: 18%;
    position: absolute;
  }

  .social-id p:nth-child(2) {
    left: 26%;
    position: absolute;
  }

  .social-id p:nth-child(3) {
    right: 38%;
    position: absolute;
  }

  .curve-down{
    display: none;
  }

  .news-footer i {
    padding-right: 1em;
    font-size: 2em;
  }

  .carousel-inner.horizontal>.item.next,
  .carousel-inner.horizontal>.item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }

  .carousel-inner.horizontal>.item.prev,
  .carousel-inner.horizontal>.item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    right: 0;
  }

  .carousel-inner.horizontal>.item.next.left,
  .carousel-inner.horizontal>.item.prev.right,
  .carousel-inner.horizontal>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }

  .media-carousel .carousel-inner .item.active.prev.right>div {
    display: none;
  }

  .media-carousel .carousel-inner .item.active.next.left>div {
    display: none;
  }

  .media-carousel .carousel-inner .item.prev.right>div:first-child {
    display: block;
  }

  .media-carousel .carousel-inner .item.next.left>div:first-child {
    display: block;
  }

  .media-carousel .carousel-inner .item.active>div:first-child {
    display: block;
    justify-content: center;
  }

  .media-carousel .carousel-inner .item.active {
    display: block;
  }

  .media-carousel .carousel-inner .item.active.left, .media-carousel .carousel-inner .item.active.right, .media-carousel .carousel-inner>.item.next.left, .media-carousel .carousel-inner>.item.prev.right {
    display: block;
  }

  .carousel-inner .item.active>div:first-child+div {
    display: none;
  }

  .carousel-inner .item.active>div:first-child+div+div {
    display: none;
  }

  .carousel-control.left{
    margin: 0 0;
  }

  .factory-future-gradient::before {
    top: -14%;
  }

  .social-community-gradient::before{
    top: -14%;
  }

  .news-panel {
    width: 100%;
  }

  .overlay-main a {
    font-size: 1em;
    line-height: 1.2em;
    padding: 0.95em 1.1em;
  }

  .change:after {
    top: 17%;
  }

  .overlay-content {
    top: 16%;
    transform: translate(0);
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .banner-title {
    font-size: 44px;
    line-height: 71px;
  }

  .slide-caption {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 10px;
  }

  .flex-header h1 {
    font-size: 3em;
    line-height: 52px;
  }

  h1 {
    font-size: 31px;
    line-height: 50px;
  }

  h2 {
    font-size: 26px;
    line-height: 42px;
  }

  h3 {
    font-size: 23px;
    line-height: 37px;
  }

  h4 {
    font-size: 20px;
    line-height: 32px;
  }

  h5 {
    font-size: 19px;
    line-height: 31px;
  }

  h6 {
    font-size: 19px;
    line-height: 31px;
  }

  .lead {
    font-size: 19px;
    line-height: 31px;
  }

  body, .hs-richtext {
    font-size: 16px;
    line-height: 26px;
  }

  .btn {
    font-size: 16px;
    line-height: 26px;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0em;
  }

  .navbar-nav {
    padding-left: 11em;
  }

  .noscroll .action-menu {
    top: 3.4em;
  }

  .action-menu {
    top: 3.4em
  }

  .fit-menu {
    width: 100%;
  }

  .search-block.views-search-block .form-item {
    width: 100%
  }

  .search-block {
    float: left;
  }

  .views-search-block {
    padding-top: 0.55em;
  }

  .front__flex-margin {
    margin: 2em 0 0 0;
  }

  .socialmedia ul {
    top: 15%;
    height: 100%;
  }

  .social-id p:nth-child(1) {
    right: 20%;
    position: absolute;
  }

  .social-id p:nth-child(2) {
    left: 18%;
    position: absolute;
  }

  .social-id p:nth-child(3) {
    right: 32%;
    position: absolute;
  }

  .uppercurve {
    top: 3.3em;
  }

  .wavelogo {
    top: 0.36em;
  }

  .textlogo {
    top: 0em;
    left: 1em;
  }

  .flex-caption {
    font-size: 1em;
    line-height: 26px;
    top: 0em;
    display: block;
  }

  .carousel-inner.horizontal>.item.next,
  .carousel-inner.horizontal>.item.active.right {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
    display: flex;
  }

  .carousel-inner.horizontal>.item.prev,
  .carousel-inner.horizontal>.item.active.left {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    right: 0;
    display: flex;
  }

  .carousel-inner.horizontal>.item.next.left,
  .carousel-inner.horizontal>.item.prev.right,
  .carousel-inner.horizontal>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
    display: flex;
  }

  .carousel-inner.horizontal>.item.active.right .news, .carousel-inner.horizontal>.item.active.left .news, .carousel-inner.horizontal>.item.prev.right .news, .carousel-inner.horizontal>.item.next.left .news {
    display: flex;
  }

  .carousel-inner.horizontal>.item.active.right .news:last-child, .carousel-inner.horizontal>.item.active.left .news:last-child, .carousel-inner.horizontal>.item.prev.right .news:last-child, .carousel-inner.horizontal>.item.next.left .news:last-child {
    display: none;
  }

  .media-carousel .carousel-inner .item.prev.right>div:last-child {
    display: none;
  }

  .media-carousel .carousel-inner .item.next.left>div:last-child {
    display: none;
  }

  .carousel-inner .item.active>div:first-child+div {
    display: flex;
  }

  .carousel-inner .item.active>div:first-child+div+div {
    display: none;
  }

  .media-carousel .carousel-inner .item.prev.right>div:first-child, .media-carousel .carousel-inner .item.prev.right>div:first-child+div {
    display: flex;
    height: 100%;
  }

  .media-carousel .carousel-inner .item.next.left>div:first-child, .media-carousel .carousel-inner .item.prev.right>div:first-child+div {
    display: flex;
  }

  .media-carousel .carousel-inner .item.active>div:first-child {
    display: flex;
  }

  .noscroll .action-menu {
    top: 3.4em;
  }

  .overlay-btn {
    margin-right: 0;
  }

  .overlay-main a {
    font-size: 2em;
    line-height: 2em;
  }

  .overlay-content {
    top: 30%;
  }

  .change:after {
    top: 2.5em;
  }

  ul.resource-cats a, ul.about-us-cats a {
    font-size: 1.4em;
    line-height: 2.2em;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .flex-header h1 {
    font-size: 1.1em;
    line-height: 58px;
  }

  .navbar-default {
    background: none;
    border: none;
  }

  .banner-title {
    font-size: 49px;
    line-height: 79px;
  }

  .flex-header, .tour-header {
    font-size: 2.8em;
    line-height: 58px;
  }

  .flex-caption {
    font-size: 1.2em;
    line-height: 30px;
  }

  .slide-caption {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 10px;
  }

  h1 {
    font-size: 32px;
    line-height: 52px;
  }

  h2 {
    font-size: 27px;
    line-height: 44px;
  }

  h3 {
    font-size: 24px;
    line-height: 39px;
  }

  h4 {
    font-size: 21px;
    line-height: 34px;
  }

  h5 {
    font-size: 20px;
    line-height: 32px;
  }

  h6 {
    font-size: 20px;
    line-height: 32px;
  }

  .lead {
    font-size: 20px;
    line-height: 32px;
  }

  body, .hs-richtext {
    font-size: 17px;
    line-height: 28px;
  }

  .btn {
    font-size: 17px;
    line-height: 28px;
  }

  .socialmedia ul {
    transform: translateY(-40%);
    top: 50%;
    height: 75%;
  }

  .social-id p:nth-child(1) {
    right: 28%;
    position: absolute;
  }

  .social-id p:nth-child(2) {
    left: 18%;
    position: absolute;
  }

  .social-id p:nth-child(3) {
    right: initial;
    position: relative;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 4em;
  }

  .front__flex-margin {
    margin: -4.3em 0 0 0;
  }

  .navbar-nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    padding-left: 16em;
    overflow-x: auto;
    z-index: 1036;
  }

  .fit-menu {
    width: 90%;
  }

  .noscroll .action-menu {
    top: 3.3em;
  }

  .action-menu {
    top: 3.3em
  }

  .views-search-block .form-item {
    width: 100%;
  }

  .carousel-inner.horizontal>.item.next,
  .carousel-inner.horizontal>.item.active.right {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
    left: 0;
  }

  .carousel-inner.horizontal>.item.prev,
  .carousel-inner.horizontal>.item.active.left {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
    right: 0;
  }

  .carousel-inner.horizontal>.item.next.left,
  .carousel-inner.horizontal>.item.prev.right,
  .carousel-inner.horizontal>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }

  .carousel-inner .item.active>div:first-child+div {
    display: flex;
  }

  .carousel-inner .item.active>div:first-child+div+div {
    display: flex;
  }

  .carousel-inner .item.active .news, .carousel-inner.horizontal>.item.active.right .news, .carousel-inner.horizontal>.item.active.left .news, .carousel-inner.horizontal>.item.prev.right .news, .carousel-inner.horizontal>.item.next.left .news {
    display: flex;
  }

  .carousel-inner.horizontal>.item.active.right .news:last-child, .carousel-inner.horizontal>.item.active.left .news:last-child, .carousel-inner.horizontal>.item.prev.right .news:last-child, .carousel-inner.horizontal>.item.next.left .news:last-child {
    display: flex;
  }

  .flex-gradient {
    padding-top: 7.5em;
  }

  .noscroll .action-menu {
    top: 3.3em;
  }

  .overlay-main a {
    font-size: 1.8em;
    line-height: 2em;
  }

  .overlay-btn {
    margin-right: 1.5em;
  }

  ul.resource-cats a, ul.about-us-cats a {
    font-size: 1.2em;
    line-height: 2em;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  .flex-header h1 {
    font-size: 1.1em;
    line-height: 63px;
  }

  .banner-title {
    font-size: 51px;
    line-height: 82px;
  }

  .flex-header, .tour-header {
    font-size: 2.8em;
    line-height: 58px;
  }

  .flex-caption {
    font-size: 1.2em;
    line-height: 36px;
  }

  .slide-caption {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 10px;
  }

  .action-menu {
    top: 3.1em;
  }

  .views-search-block .form-item {
    width: 100%;
  }

  h1 {
    font-size: 33px;
    line-height: 54px;
  }

  h2 {
    font-size: 28px;
    line-height: 45px;
  }

  h3 {
    font-size: 25px;
    line-height: 41px;
  }

  h4 {
    font-size: 22px;
    line-height: 36px;
  }

  h5 {
    font-size: 21px;
    line-height: 34px;
  }

  h6 {
    font-size: 21px;
    line-height: 34px;
  }

  .lead {
    font-size: 21px;
    line-height: 34px;
  }

  body, .hs-richtext {
    font-size: 18px;
    line-height: 29px;
  }

  .btn {
    font-size: 18px;
    line-height: 29px;
  }

  .uppercurve {
    top: 3.1em;
  }

  .wavelogo {
    top: 0.24em;
  }

  .textlogo {
    top: -0.1em;
    left: 1em;
  }

  .flex-caption {
    font-size: 1em;
    line-height: 36px;
    top: 0;
  }

  .flex-gradient {
    padding-top: 6em;
  }
}

@media screen and (min-width: 1501px) {
  .community-overhang {
    margin-bottom: -6em;
    z-index: 1;
  }

  .community-greyback-text {
    padding-top: 7em;
  }
}

@media (max-width: 992px) {
  .wavelogo img {
    display: none;
  }

  .wavelogo {
    display: none;
  }

  .uppercurve {
    display: none;
  }
}
